<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Bekaert, Geert</td>
      <td>0.525</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Wang, Jiang</td>
      <td>0.521</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Chen, Joseph</td>
      <td>0.499</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Ang, Andrew</td>
      <td>0.494</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Hong, Harrison</td>
      <td>0.480</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Harvey, Campbell R.</td>
      <td>0.459</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Graham, John R.</td>
      <td>0.406</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Lemmon, Michael L.</td>
      <td>0.379</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Michaely, Roni</td>
      <td>0.295</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Stein, Jeremy C.</td>
      <td>0.277</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Lumsdaine, Robin L.</td>
      <td>0.226</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Lo, Andrew</td>
      <td>0.188</td>
    </tr>
    <tr>
      <td>13</td>
      <td>O'Hara, Maureen</td>
      <td>0.160</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Lim, Terence</td>
      <td>0.130</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Rajan, Raghuram G.</td>
      <td>0.129</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Griffin, John M.</td>
      <td>0.127</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Mamaysky, Harry</td>
      <td>0.105</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Stulz, René M.</td>
      <td>0.097</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Coles, Jeffrey L.</td>
      <td>0.066</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Mackinlay, A. Craig</td>
      <td>0.066</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Scharfstein, David S.</td>
      <td>0.066</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Bloomfield, Robert J.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Grullon, Gustavo</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Hodrick, Robert J.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Pástor, Ľuboš</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Siddique, Akhtar R.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Walkling, Ralph A.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Bertsimas, Dimitris J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Bessembinder, Hendrik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Bettis, J. Carr</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Diamond, Douglas W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Easley, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Eberhart, Allan C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Ellis, Katrina</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Gertner, Robert H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Hales, Jeffrey</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Hertzel, Michael G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Hvidkjaer, Soeren</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Kashyap, Anil K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Kogan, Leonid</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Koski, Jennifer Lynch</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Linck, James S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Llorente, Guillermo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Macey, Jonathan R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Petersen, Mitchell A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Powers, Eric A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Rees, Lynn L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Rogers, Daniel A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Saar, Gideon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Schlingemann, Frederik P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Servaes, Henri</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Song, Moon H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Stambaugh, Robert F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Suay, Jose</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Wang, F. Albert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Wolf, Jack G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Woodbury, Denise</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Wu, Guojun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Zhang, June</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Zhang, Xiaoyan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Zingales, Luigi</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>