<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Harvey, Campbell R.</td>
      <td>0.570</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lundblad, Christian T.</td>
      <td>0.473</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Conrad, Jennifer S.</td>
      <td>0.455</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Dittmar, Robert F.</td>
      <td>0.451</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Cooper, Michael J.</td>
      <td>0.447</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Lemmon, Michael L.</td>
      <td>0.349</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Lins, Karl V.</td>
      <td>0.341</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Bekaert, Geert</td>
      <td>0.322</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Liu, Jun</td>
      <td>0.305</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Hameed, Allaudeen</td>
      <td>0.303</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Cooney, John W.</td>
      <td>0.221</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Wang, Tan</td>
      <td>0.220</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Sias, Richard W.</td>
      <td>0.182</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Lau, Sieting</td>
      <td>0.169</td>
    </tr>
    <tr>
      <td>15</td>
      <td>H. McInish, Thomas</td>
      <td>0.156</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Chan, Kalok</td>
      <td>0.143</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Chung, Kee H.</td>
      <td>0.133</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Brav, Alon</td>
      <td>0.132</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Cao, H. Henry</td>
      <td>0.118</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Michaely, Roni</td>
      <td>0.118</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Keehong Bae, Kee</td>
      <td>0.117</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Kato, Hideaki Kiyoshi</td>
      <td>0.114</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Schallheim, James S.</td>
      <td>0.114</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Gompers, Paul A.</td>
      <td>0.103</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Gulen, Huseyin</td>
      <td>0.103</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Parrino, Robert</td>
      <td>0.093</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Starks, Laura T.</td>
      <td>0.090</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Stulz, René M.</td>
      <td>0.083</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Lerner, Josh</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Xu, Xinzhong</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Kahl, Matthias</td>
      <td>0.070</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Longstaff, Francis A.</td>
      <td>0.066</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Grullon, Gustavo</td>
      <td>0.060</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Bizjak, John M.</td>
      <td>0.060</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Hartzell, Jay C.</td>
      <td>0.060</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Mayhew, Stewart</td>
      <td>0.060</td>
    </tr>
    <tr>
      <td>37</td>
      <td>McCormick, D. Timothy</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Zhang, Harold H.</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Anderson, Ronald C.</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Bansal, Ravi</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Mihov, Vassil T.</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Graham, John R.</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Scharfstein, David S.</td>
      <td>0.044</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Bennett, James A.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Denis, David J.</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Malatesta, Paul H.</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Ofek, Eli</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Schoar, Antoinette</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Shackleton, Mark B.</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Yaron, Amir</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Mansi, Sattar A.</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Kanatas, George</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Roberts, Michael R.</td>
      <td>0.016</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Chakravarty, Sugato</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Grinstein, Yaniv</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Hendershott, Terrence</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Kaplan, Steven N.</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Uppal, Raman</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Wahal, Sunil</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Brennan, Michael J.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Wang, Ashley W.</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>62</td>
      <td>Whitelaw, Robert F.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Karolyi, G. Andrew</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Butler, Alexander W.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Pan, Jun</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>66</td>
      <td>Doidge, Craig</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>67</td>
      <td>Weston, James P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Luo, Mi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Ahn, Dong Hyun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Ahn, Seoungpil</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Ang, Andrew</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Barclay, Michael J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Bates, Thomas W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Bettis, J. Carr</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Charoenwong, Charlie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Cho, Seongyeon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Choe, Hyuk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Chuwonganant, Chairat</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Cliff, Michael T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Dammon, Robert M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Das, Sanjiv Ranjan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Ding, David</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Ducharme, Larry L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Golec, Joseph H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Gutierrez, Roberto C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Hribar, Paul</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Huson, Mark R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Jackson, William E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Jallath-Coria, Eduardo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Johnson, Kevin M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Jones, Charles M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Jordan, James V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Kaul, Gautam</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Kho, Bongchan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Kim, Youngsoo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Lang, Mark H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Leary, Mark T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Lee, Peggy M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Lehavy, Reuven</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Li, Kai</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Li, Mingsheng</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Mithal, Sanjay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Moeller, Sara B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Mukhopadhyay, Tridas</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Neis, Eric</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Ng, Angela</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Patterson, Gary A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Piazzesi, Monika</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Pong, Shiuyan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Qi, Jianping</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Rau, P. Raghavendra</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Reeb, David M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Richardson, Matthew P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Roper, Andrew H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>SEFCIK, STEPHAN E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Schlingemann, Frederik P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Shackelford, Douglas A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Shane, Hilary</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Spatt, Chester S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Strong, Norman C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Strömberg, Per</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Taylor, Stephen J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Tsai, Alexander</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Tsekrekos, Andrianos E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Van Ness, Bonnie F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Van Ness, Robert A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Wojakowski, Rafał M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Xia, Yihong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Yao, Rui</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Yermack, David L.</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>