<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Stulz, René M.</td>
      <td>0.557</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Yermack, David L.</td>
      <td>0.545</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Shivdasani, Anil</td>
      <td>0.534</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Kang, Jun Koo</td>
      <td>0.507</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Sundaram, Rangarajan K.</td>
      <td>0.474</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Saunders, Anthony</td>
      <td>0.449</td>
    </tr>
    <tr>
      <td>7</td>
      <td>John, Kose</td>
      <td>0.444</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Choe, Hyuk</td>
      <td>0.406</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Cao, Charles Q.</td>
      <td>0.385</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Altman, Edward I.</td>
      <td>0.246</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Bakshi, Gurdip S.</td>
      <td>0.169</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Aggarwal, Reena</td>
      <td>0.132</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Madan, Dilip B.</td>
      <td>0.130</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Geman, Hélyette</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Ghysels, Eric</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Hatheway, Frank M.</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Ofek, Eli</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Puri, Manju</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Caprio, Gerard Jr</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Opler, Tim C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Acharya, Viral V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Ahn, HeeJoon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Angel, James J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Ané, Thierry</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Berger, Philip G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Brenner, Menachem</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Carr, Peter P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Chen, Zhiwu</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Chernov, Mikhail</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Ciccotello, Conrad S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Eberhart, Allan C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Gande, Amar</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Gray, Ian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Griffin, John M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Hellmann, Thomas F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Kho, Bongchan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Kim, Yong Cheol</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Peyer, Urs C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Pinkowitz, Lee</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Senbet, Lemma W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Singer, Hal J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Suggitt, Heather J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Wilson, Berry K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Yamada, Takeshi</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>