<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Stulz, René M.</td>
      <td>0.642</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Aggarwal, Reena</td>
      <td>0.389</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Bris, Arturo</td>
      <td>0.361</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Fahlenbrach, Rüdiger</td>
      <td>0.354</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Cronqvist, Henrik</td>
      <td>0.352</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Nilsson, Mattias</td>
      <td>0.344</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Kahle, Kathleen M.</td>
      <td>0.257</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Maxwell, William F.</td>
      <td>0.248</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Klapper, Leora F.</td>
      <td>0.238</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Harford, Jarrad</td>
      <td>0.236</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Dahiya, Sandeep</td>
      <td>0.223</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Duarte, Jefferson</td>
      <td>0.221</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Longstaff, Francis A.</td>
      <td>0.217</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Lemmon, Michael L.</td>
      <td>0.197</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Hong, Harrison</td>
      <td>0.195</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Saar, Gideon</td>
      <td>0.195</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Baruch, Shmuel</td>
      <td>0.194</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Santa-Clara, Pedro</td>
      <td>0.193</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Saunders, Anthony</td>
      <td>0.174</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Valkanov, Rossen</td>
      <td>0.169</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Titman, Sheridan D.</td>
      <td>0.169</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Zhu, Ning</td>
      <td>0.167</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Fritz Foley, C.</td>
      <td>0.149</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Bates, Thomas W.</td>
      <td>0.142</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Berger, Allen N.</td>
      <td>0.135</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Nair, Vinay B.</td>
      <td>0.134</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Wang, Jiang</td>
      <td>0.130</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Huang, Jennifer</td>
      <td>0.127</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Martínez Pería, María Soledad</td>
      <td>0.123</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Lee, Yitsung</td>
      <td>0.112</td>
    </tr>
    <tr>
      <td>31</td>
      <td>LIN, JI CHAI</td>
      <td>0.112</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Singh, Ajai K.</td>
      <td>0.106</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Baker, Malcolm P.</td>
      <td>0.104</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Goetzmann, William Nelson</td>
      <td>0.098</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Karolyi, G. Andrew</td>
      <td>0.097</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Hasan, Iftekhar</td>
      <td>0.090</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Roberts, Michael R.</td>
      <td>0.085</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Chan, Konan</td>
      <td>0.084</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Barber, Brad M.</td>
      <td>0.084</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Yan, Hong</td>
      <td>0.079</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Rau, P. Raghavendra</td>
      <td>0.079</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Kacperczyk, Marcin</td>
      <td>0.078</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Lee, Inmoo</td>
      <td>0.078</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Odean, Terrance</td>
      <td>0.077</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Stein, Jeremy C.</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Landier, Augustin</td>
      <td>0.069</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Beck, Thorsten</td>
      <td>0.069</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Acharya, Viral V.</td>
      <td>0.068</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Livdan, Dmitry</td>
      <td>0.065</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Poteshman, Allen M.</td>
      <td>0.063</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Lins, Karl V.</td>
      <td>0.059</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Miller, Darius P.</td>
      <td>0.059</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Seru, Amit</td>
      <td>0.057</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Chava, Sudheer</td>
      <td>0.054</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Naveen, Lalitha</td>
      <td>0.054</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Gopalan, Radhakrishnan</td>
      <td>0.053</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Laeven, Luc</td>
      <td>0.052</td>
    </tr>
    <tr>
      <td>58</td>
      <td>Campello, Murillo</td>
      <td>0.051</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Koetter, Michael</td>
      <td>0.048</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Thakor, Anjan V.</td>
      <td>0.047</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Daniel, Naveen D.</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Gulen, Huseyin</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Bharath, Sreedhar T.</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Ljungqvist, Alexander P.</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>65</td>
      <td>John, Kose</td>
      <td>0.044</td>
    </tr>
    <tr>
      <td>66</td>
      <td>Thesmar, David J.</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>67</td>
      <td>Liang, Bing</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Wei, Kelsey D.</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Brandt, Michael W.</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Naik, Narayan Y.</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>71</td>
      <td>Schill, Michael J.</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Desai, Mihir A.</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>73</td>
      <td>Liu, Yujane</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>74</td>
      <td>Zhang, Lu</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>75</td>
      <td>Bali, Turan G.</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>76</td>
      <td>Dittmar, Amy K.</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>77</td>
      <td>Coval, Joshua D.</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>78</td>
      <td>Yu, Jialin</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>79</td>
      <td>Hennessy, Christopher A.</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>80</td>
      <td>Malloy, Christopher J.</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>81</td>
      <td>Clarke, Jonathan E.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>82</td>
      <td>Sarkissian, Sergei</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>82</td>
      <td>Stafford, Erik</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>84</td>
      <td>Srinivasan, Anand</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>85</td>
      <td>Marston, Felicia C.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>86</td>
      <td>Zingales, Luigi</td>
      <td>0.032</td>
    </tr>
    <tr>
      <td>87</td>
      <td>Johnson, Shane A.</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>88</td>
      <td>Dittmar, Robert F.</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>89</td>
      <td>Christoffersen, Susan E.K.</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>90</td>
      <td>Garlappi, Lorenzo</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>91</td>
      <td>Welch, Ivo V.O.</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>92</td>
      <td>Demirgüç-Kunt, Asli</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>93</td>
      <td>Levine, Ross L.</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>94</td>
      <td>Schoar, Antoinette</td>
      <td>0.028</td>
    </tr>
    <tr>
      <td>95</td>
      <td>Chen, Long</td>
      <td>0.028</td>
    </tr>
    <tr>
      <td>96</td>
      <td>Goyal, Amit</td>
      <td>0.027</td>
    </tr>
    <tr>
      <td>97</td>
      <td>Duffie, J. Darrell</td>
      <td>0.027</td>
    </tr>
    <tr>
      <td>98</td>
      <td>Wilhelm, William J.</td>
      <td>0.027</td>
    </tr>
    <tr>
      <td>99</td>
      <td>Chacko, George C.</td>
      <td>0.027</td>
    </tr>
    <tr>
      <td>99</td>
      <td>Koijen, Ralph Sj</td>
      <td>0.027</td>
    </tr>
    <tr>
      <td>101</td>
      <td>Cremers, K. J. Martijn</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>102</td>
      <td>Kolari, James W.</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>103</td>
      <td>Ramadorai, Tarun</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>104</td>
      <td>Ferris, Stephen P.</td>
      <td>0.022</td>
    </tr>
    <tr>
      <td>105</td>
      <td>Pedersen, Lasse Heje</td>
      <td>0.022</td>
    </tr>
    <tr>
      <td>106</td>
      <td>Van Nieuwerburgh, Stijn G.</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>107</td>
      <td>Morrison, Alan D.</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>108</td>
      <td>Bloomfield, Robert J.</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>109</td>
      <td>Gârleanu, Nicolae</td>
      <td>0.018</td>
    </tr>
    <tr>
      <td>110</td>
      <td>Kubik, Jeffrey D.</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Yan, Xuemin Sterling (Sterling)</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>112</td>
      <td>Han, Bing</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>112</td>
      <td>Khorana, Ajay</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>112</td>
      <td>Schmukler, Sergio L.</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>115</td>
      <td>Burns, Natasha</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>116</td>
      <td>Wang, Tan</td>
      <td>0.015</td>
    </tr>
    <tr>
      <td>117</td>
      <td>Forbes, Kristin J.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>117</td>
      <td>Hines, James R.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>119</td>
      <td>Kedia, Simi</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>120</td>
      <td>Dasgupta, Sudipto</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>120</td>
      <td>Levy, Haim K.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>122</td>
      <td>Helwege, Jean</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>122</td>
      <td>Pérignon, Christophe</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>122</td>
      <td>Subrahmanyam, Marti G.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>125</td>
      <td>Lerner, Josh</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>125</td>
      <td>Whited, Toni M.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>125</td>
      <td>Yuan, Kathy</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>128</td>
      <td>Kaniel, Ron</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>128</td>
      <td>Yeung, Bernard Y.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>130</td>
      <td>Bradley, Daniel J.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>130</td>
      <td>Sorescu, Sorin M.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>130</td>
      <td>Yu, Fan</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>133</td>
      <td>Driessen, Joost</td>
      <td>0.011</td>
    </tr>
    <tr>
      <td>134</td>
      <td>Bhojraj, Sanjeev</td>
      <td>0.011</td>
    </tr>
    <tr>
      <td>135</td>
      <td>Musto, David K.</td>
      <td>0.011</td>
    </tr>
    <tr>
      <td>136</td>
      <td>Uppal, Raman</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Brockman, Paul D.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Campbell, John Y.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Cohen, Lauren H.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Freixas, Xavier</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Griffin, John M.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Qiu, Jiaping</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>143</td>
      <td>Johnson, Simon</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>144</td>
      <td>Hirshleifer, David</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Cheung, Yanleung</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Gabaix, Xavier</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Lettau, Martin</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Levy Yeyati, Eduardo</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Pan, Jun</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Ravid, S. Abraham</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Sapienza, Paola</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Sufi, Amir</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>153</td>
      <td>Li, Erica X.N.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>153</td>
      <td>Sapriza, Horacio</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>155</td>
      <td>Levy, Amnon</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>156</td>
      <td>Almeida, Heitor V.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>157</td>
      <td>Bertrand, Marianne</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>158</td>
      <td>Wedow, Michael</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>159</td>
      <td>Goldberg, Lawrence G.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>160</td>
      <td>Géczy, Christopher C.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>161</td>
      <td>Carbó, Santiago</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>162</td>
      <td>Wei, Chenyang</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>163</td>
      <td>Klasa, Sandy</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>164</td>
      <td>Das, Sanjiv Ranjan</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>165</td>
      <td>Greenwood, Robin M.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>166</td>
      <td>Kim, E. Han</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Allen, Linda</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Bessembinder, Hendrik</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Bouwman, Christa H.S.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Colak, Gonul</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Diether, Karl B.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Edmans, Alex</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>García-Herrero, Alicia</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Gupta, Nandini</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Hackbarth, Dirk</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Hartzell, Jay C.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Lakonishok, Josef</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Lu, Yang</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Mei, Jianping P.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Micco, Alejandro</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Polk, Christopher</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Ritter, Jay R.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Rosen, Richard J.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Sialm, Clemens</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Singleton, Kenneth J.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Spiegel, Matthew</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Tufano, Peter</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Yang, Jian</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>189</td>
      <td>Dell'Ariccia, Giovanni</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Philippon, Thomas</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>191</td>
      <td>Weinbaum, David</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>192</td>
      <td>Ludvigson, Sydney C.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>193</td>
      <td>Zheng, Lu U.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>194</td>
      <td>White, Lawrence J.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>195</td>
      <td>Demiguel, Victor</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>196</td>
      <td>Scholnick, Barry</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>197</td>
      <td>Moeller, Sara B.</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>198</td>
      <td>Massoud, Nadia</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>199</td>
      <td>Wurgler, Jeffrey</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>200</td>
      <td>Maksimovic, Vojislav</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>201</td>
      <td>Chen, Li W.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Back, Kerry</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Bond, Philip</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Bos, Jaap W.B.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Brunnermeier, Markus K.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Chari, Anusha</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Chhaochharia, Vidhi</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Demarzo, Peter M.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Errunza, Vihang R.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Frazzini, Andrea</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Froot, Kenneth A.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Huizinga, Harry P.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Keehong Bae, Kee</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Krishnamurthy, Arvind</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Kumar, P. C.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Leuz, Christian</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Mansi, Sattar A.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Mitton, Todd</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Morellec, Erwan</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Moskowitz, Tobias J.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Nini, Greg P.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>O'Hara, Maureen</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Packer, Frank</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Palia, Darius N.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Pasquariello, Paolo</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Peristiani, Stavros C.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Poghosyan, Tigran</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Smith, Daniel R.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Wei, Jason Z.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Xiong, Wei</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>202</td>
      <td>Yorulmazer, Tanju</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>232</td>
      <td>Tehranian, Hassan</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>233</td>
      <td>Collin-Dufresne, Pierre</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>233</td>
      <td>Goldstein, Robert S.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>235</td>
      <td>Banerjee, Snehal</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>235</td>
      <td>Boudoukh, Jacob</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>235</td>
      <td>Richardson, Matthew P.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>238</td>
      <td>Gozzi, Juan Carlos</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>239</td>
      <td>Petkova, Ralitsa</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>240</td>
      <td>Detragiache, Enrica</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>241</td>
      <td>Haushalter, David David</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>241</td>
      <td>Ortiz-Molina, Hernán</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>243</td>
      <td>Shen, Y. (J )</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>244</td>
      <td>Chen, Xia</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>244</td>
      <td>Nimalendran, Mahendrarajah</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>244</td>
      <td>Sarin, Atulya</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>247</td>
      <td>Cornett, Marcia Millon</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>247</td>
      <td>Marcus, Alan J.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>249</td>
      <td>Jayaraman, Narayanan</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>250</td>
      <td>Dyck, Alexander</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>251</td>
      <td>Zhou, Mingming</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>252</td>
      <td>Tressel, Thierry</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>253</td>
      <td>Hou, Kewei</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>253</td>
      <td>Lim, Sonya Seongyeon</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>255</td>
      <td>Fields, L. Paige</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>255</td>
      <td>Viale, Ariel M.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>257</td>
      <td>Zhou, Flora</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>258</td>
      <td>Reed, Adam V.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>259</td>
      <td>Whitby, Ryan J.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Caprio, Gerard Jr</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>261</td>
      <td>Ivashina, Victoria</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>261</td>
      <td>Rodríguez-Fernández, Francisco</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>261</td>
      <td>Stover, Roger D.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>264</td>
      <td>Chun, Hyunbae</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>264</td>
      <td>Fogel, Kathy S.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>264</td>
      <td>Kim, Jung Wook</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>267</td>
      <td>Bargeron, Leonce L.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>267</td>
      <td>Zutter, Chad J.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>269</td>
      <td>Hunter, Delroy M.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>269</td>
      <td>Sun, Xian</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>269</td>
      <td>Wang, Haizhi</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>272</td>
      <td>Eckner, Andreas</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>272</td>
      <td>Horel, Guillaume</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>272</td>
      <td>Kapadia, Nikunj</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>272</td>
      <td>Wang, Ke</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>276</td>
      <td>Vilkov, Grigory</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>277</td>
      <td>Kane, Edward J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>278</td>
      <td>Nanda, Vikram K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>279</td>
      <td>Maenhout, Pascal J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>280</td>
      <td>Francis, Bill B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>281</td>
      <td>Han, Xi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>282</td>
      <td>Porath, Daniel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>283</td>
      <td>Wachtel, Paul A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>284</td>
      <td>Bizjak, John M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>285</td>
      <td>Saita, Leandro</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>286</td>
      <td>Evans, Richard B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>287</td>
      <td>Ayyagari, Meghana</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>288</td>
      <td>Starks, Laura T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>289</td>
      <td>Volchkova, Natalya</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>290</td>
      <td>De La Torre, Augusto</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>291</td>
      <td>Schlingemann, Frederik P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>291</td>
      <td>Tayler, William B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>293</td>
      <td>Choi, Hyung Suk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>293</td>
      <td>Sabherwal, Sanjiv</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>293</td>
      <td>Samphantharak, Krislert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>296</td>
      <td>Kremer, Ilan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>296</td>
      <td>Morck, Randall K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>298</td>
      <td>Gupta, Poonam N.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>299</td>
      <td>Hutton, Amy P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>299</td>
      <td>Yalcin, Atakan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>301</td>
      <td>Benzoni, Luca</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>301</td>
      <td>Fraser, Donald R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>301</td>
      <td>Teoh, Siewhong Hong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>304</td>
      <td>Michaely, Roni</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Acemoglu, Daron</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Adam, Tim R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Adams, John C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Agarwal, Vikas</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Aghion, Philippe</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ahn, Dong Hyun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ali, Ashiq</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Atanassov, Julian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Baba, Naohiko</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Bailey, Warren</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Banerjee, Shantanu</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Bansal, Ravi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Barberis, Nicholas C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Beber, Alessandro</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Becher, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Bergstresser, Daniel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Bhamra, Harjoat S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Boehme, Rodney D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Bolton, Patrick</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Boot, Arnoud W. A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Boulatov, Alex</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Boyle, Phelim P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Brick, Ivan E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Brophy, David J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Brown, Stephen J.C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Caballero, Ricardo J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cabolis, Christos</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cai, Jun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cai, Kelly Nianyun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cao, Jerry</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Carey, Mark</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Carlson, Murray</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cerutti, Eugenio</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chaieb, Ines</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chalmers, John M.R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chan, Justin S P</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chan, Louis Kuo Chi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chang, Xin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chen, Fan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Chen, Zhaohui</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Claessens, Stijn</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cochrane, John H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cohen, Randolph B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Coles, Jeffrey L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Conrad, Jennifer S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Cooper, Michael J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Dai, Qiang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Danielsen, Bartley R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Davis, Gerald F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>De Nicoló, Gianni</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Demirtas, K. Ozgur</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Deng, ZiYin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Deuskar, Prachi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Dick, Astrid A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Dimmock, Stephen G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Doidge, Craig</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Dos Santos, Marcelo B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Duan, Jinchuan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Dumas, Bernard</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Easley, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Erel, Isil</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Fatum, Rasmus</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Feijen, Erik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Feng, Shui</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Fishman, Michael J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Fluck, Zsuzsanna</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Frame, W. Scott</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Fuller, Kathleen P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Fung, William</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>García, Diego</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Garmaise, Mark J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Gavilá, Sergio</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ge, Ying</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Giannetti, Mariassunta</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Gillan, Stuart L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Goel, Anand Mohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Gokcan, Suleyman</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Gompers, Paul A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Gorton, Gary B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Goyal, Vidhan K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Graham, John R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Grinstein, Yaniv</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Guiso, Luigi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Gupta, Anurag</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hail, Luzi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hamao, Yasushi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hanouna, Paul</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Harris, Jeffrey H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hatch, Brian C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Heid, Frank</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Henry, Peter Blair</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Heyman, Fredrik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hilscher, Jens</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hochberg, Yael V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hong, Dong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hribar, Paul</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Hsieh, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Humphrey, David Burras</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ikenberry, David L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ingersoll, Jonathan E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Johnson, Timothy C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Jones, Christopher S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Jordan, Bradford D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Jorge, José</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Julliard, Christian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Jurek, Jakub W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kadiyala, Padma</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kahl, Matthias</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kalcheva, Ivalina</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kaplanski, Guy</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kavajecz, Kenneth A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kayhan, Ayla</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Khokher, Zeigham</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Khurana, Inder K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kiku, Dana</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kim, Joonghyuk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kim, Youngsang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>King, Robert G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Klingebiel, Daniela</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kogan, Leonid</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kool, Clemens J.M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Koskinen, Yrjö</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kosowski, Robert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kovner, Anna</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kočenda, Evžen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kroszner, Randall S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Kurshev, Alexander</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lamont, Owen A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lee, Kuan Hui</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lehavy, Reuven</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lei, Adam Y C</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lel, Uǧur</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Leland, Hayne E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lesmond, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Levy, Moshe</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Li, Kai</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Li, Si</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Liebig, Thilo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Litov, Lubomir P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Liu, Lauraxiaolei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lustig, Hanno N.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lyandres, Evgeny</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>López Del Paso, Rafael</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Lóránth, Gyöngyi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>MacKay, Peter I.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mahanti, Sriketan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mahrt-Smith, Jan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mallik, Gaurav</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mamaysky, Harry</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Marosi, András</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Martin, Xiumin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>McBrady, Matthew R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mcinnis, John M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mehran, Hamid</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Merrill, Craig B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Minton, Bernadette A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Mo, Hengyong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Moorman, Theodore C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Morse, Adair</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Nagel, Stefan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Nain, Amrita S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Nardari, Federico</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Nashikkar, Amrut</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Newman, Andrew F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ng, Serena</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ni, Sophiexiaoyan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Nicodème, Gaëtan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Norli, Øyvind</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>O'Connell, Paul G.J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ouimet, Paige Parker</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ozdenoren, Emre</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Panayides, Marios A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Panchapagesan, Venkatesh</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Panizza, Ugo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Park, Sangkyun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Parrino, Robert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>PastÉn, Ernesto S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Patel, Ajay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Paulsen, Dirk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Pearson, Neil D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Persons, John C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Petajisto, Antti</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Phillips, Gordon Michael</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Picconi, Marc P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Pirinsky, Christo A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Post, Thierry Thierry</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Purnanandam, Amiyatosh K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Qi, Yuehua</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Rajan, Arvind</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Rajan, Raghuram G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Rajgopal, Shivaram</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Reisel, Natalia</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Riddick, Leigh A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Rubin, Amir</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Santabárbara, Daniel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Saretto, Alessio</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Scharfstein, David S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Scheinkman, José A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schmidt, Breno</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schmiedel, Heiko</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schor, Michael</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schotter, Andrew</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schrand, Catherine M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schwartz, Allie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Schwarz, Christopher G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Sengupta, Kunal</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Servaes, Henri</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Shapiro, Joel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Shu, Tao</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Shumway, Tyler</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Sivaramakrishnan, Konduru</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Smith, David C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Song, Fenghua</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Stouraitis, Aris</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Su, Xiaojing</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Subramanian, Krishnamurthy V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Sun, Le</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Svaleryd, Helena</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Sweeney, Richard James</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Szilagyi, Jan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Tan, Hongping</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Tang, Yi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Teo, Melvyn</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Thompson, Samuel B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Tian, Weidong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Topaloglu, Selim</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Torous, Walter N.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Trueman, Brett</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Twite, Garry J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Udell, Gregory F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Ueda, Kenichi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Unlu, Emre</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Uysal, Vahap Bülent</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Van Binsbergen, Jules H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Van Hemert, Otto</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Van Horen, Neeltje</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Van Vliet, Pim</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Vega, Clara</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Veldkamp, Laura L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Venkataraman, Kumar</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Vigneron, Olivier</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Villa, Christophe</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Vissing-Jørgensen, Annette</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Vlachos, Jonas</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Voget, Johannes</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Vorkink, Keith P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Vuolteenaho, Tuomo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wachter, Jessica A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wahal, Sunil</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Walcott, Nathan G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wang, Fenghua</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wang, Wei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wang, Z. Jay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wang, Zhi Jun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wang, Zijun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Warga, Arthur D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Warnock, Francis E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Weder Di Mauro, Beatrice</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wedge, Lei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Werner, Ingrid M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>White, Lucy</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Whitelaw, Robert F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wihlborg, Clas G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wongsunwai, Wan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wu, Guojun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Wulf, Julie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Xu, Danielle</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Xu, Jin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Xu, Yexiao J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yang, Wei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yaron, Amir</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yañez, Monica</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yeung, Eric</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yilmaz, Bilge</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Young, Lance</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yu, Wen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Yung, Chris</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zaidi, Rida</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zender, Jaime F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zhang, Donghang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zhang, Hong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zhang, Zhe</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zhao, Xinlei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zhdanov, Alexei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zhou, Yinggang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>305</td>
      <td>Zwiebel, Jeffrey</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>