<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Saunders, Anthony</td>
      <td>0.671</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Berger, Allen N.</td>
      <td>0.591</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John, Kose</td>
      <td>0.462</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Sundaram, Rangarajan K.</td>
      <td>0.434</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Yermack, David L.</td>
      <td>0.419</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Shivdasani, Anil</td>
      <td>0.340</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Kang, Jun Koo</td>
      <td>0.292</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Stulz, René M.</td>
      <td>0.245</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Flannery, Mark J.</td>
      <td>0.208</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Houston, Joel F.</td>
      <td>0.180</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Hancock, Diana G.</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Opler, Tim C.</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Ryngaert, Michael D.</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Wilson, Berry K.</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Caprio, Gerard Jr</td>
      <td>0.055</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Kane, Edward J.</td>
      <td>0.038</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Ofek, Eli</td>
      <td>0.038</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Puri, Manju</td>
      <td>0.038</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Strahan, Philip E.</td>
      <td>0.038</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Humphrey, David Burras</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Cummins, J. David</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Weiss, Mary A.</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Scalise, Joseph M.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Tennyson, Sharon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Zi, Hongmin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Acharya, Viral V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Angbazo, Lazarus A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Berger, Philip G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Bethel, Jennifer E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Bonime, Seth D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Brenner, Menachem</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Choe, Hyuk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Covitz, Daniel M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Davies, Sally M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Demsetz, Rebecca S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Gande, Amar</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Hadlock, Charles J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Hellmann, Thomas F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Hovakimian, Armen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>James, Christopher M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Kho, Bongchan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Kim, Yong Cheol</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Liebeskind, Julia Porter</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Mei, Jianping P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Naranjo, Andy</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Nimalendran, Mahendrarajah</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Pinkowitz, Lee</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Senbet, Lemma W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Udell, Gregory F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Weston, James P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Wilcox, James A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Yamada, Takeshi</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>