<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Berger, Allen N.</td>
      <td>0.534</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Saunders, Anthony</td>
      <td>0.386</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Udell, Gregory F.</td>
      <td>0.309</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Weiss, Mary A.</td>
      <td>0.234</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Cummins, J. David</td>
      <td>0.234</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Scalise, Joseph M.</td>
      <td>0.226</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Hancock, Diana G.</td>
      <td>0.199</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Zi, Hongmin</td>
      <td>0.184</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Wilson, Berry K.</td>
      <td>0.166</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Bonime, Seth D.</td>
      <td>0.165</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Covitz, Daniel M.</td>
      <td>0.165</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Flannery, Mark J.</td>
      <td>0.126</td>
    </tr>
    <tr>
      <td>13</td>
      <td>John, Kose</td>
      <td>0.125</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Strahan, Philip E.</td>
      <td>0.125</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Davies, Sally M.</td>
      <td>0.121</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Demsetz, Rebecca S.</td>
      <td>0.121</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Senbet, Lemma W.</td>
      <td>0.117</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Caprio, Gerard Jr</td>
      <td>0.102</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Puri, Manju</td>
      <td>0.090</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Gande, Amar</td>
      <td>0.087</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Angbazo, Lazarus A.</td>
      <td>0.087</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Mei, Jianping P.</td>
      <td>0.087</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Tennyson, Sharon</td>
      <td>0.086</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Wilcox, James A.</td>
      <td>0.083</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Humphrey, David Burras</td>
      <td>0.052</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Kane, Edward J.</td>
      <td>0.032</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Sundaram, Rangarajan K.</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Houston, Joel F.</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Acharya, Viral V.</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Weston, James P.</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Ryngaert, Michael D.</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Hellmann, Thomas F.</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Naranjo, Andy</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Nimalendran, Mahendrarajah</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Hadlock, Charles J.</td>
      <td>0.009</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Yermack, David L.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Brenner, Menachem</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Hovakimian, Armen</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>39</td>
      <td>James, Christopher M.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Shivdasani, Anil</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Ofek, Eli</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Kang, Jun Koo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Yamada, Takeshi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Berger, Philip G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Stulz, René M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Kim, Yong Cheol</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Opler, Tim C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Pinkowitz, Lee</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Choe, Hyuk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Kho, Bongchan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Bethel, Jennifer E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Liebeskind, Julia Porter</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>