<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Demirgüç-Kunt, Asli</td>
      <td>0.543</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Beck, Thorsten</td>
      <td>0.487</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Maksimovic, Vojislav</td>
      <td>0.373</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Levine, Ross L.</td>
      <td>0.314</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Berger, Allen N.</td>
      <td>0.250</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Cull, Robert</td>
      <td>0.191</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Clarke, George R.G.</td>
      <td>0.142</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Udell, Gregory F.</td>
      <td>0.118</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Haubrich, Joseph G.</td>
      <td>0.112</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Miller, Nathan H.</td>
      <td>0.112</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Laeven, Luc</td>
      <td>0.104</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Love, Inessa</td>
      <td>0.093</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Klapper, Leora F.</td>
      <td>0.091</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Crivelli, Juan Miguel</td>
      <td>0.088</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Frame, W. Scott</td>
      <td>0.077</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Jerome, Afeikhena T.</td>
      <td>0.068</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Rajan, Raghuram G.</td>
      <td>0.067</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Summerhill, William R.</td>
      <td>0.057</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Stein, Jeremy C.</td>
      <td>0.053</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Petersen, Mitchell A.</td>
      <td>0.049</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Espinosa-Vega, Marco A.</td>
      <td>0.044</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Martínez Pería, María Soledad</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Sánchez, Susana M.</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Barth, James R.</td>
      <td>0.035</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Caprio, Gerard Jr</td>
      <td>0.035</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Shirley, Mary M.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Bonaccorsi di Patti, Emilia</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>28</td>
      <td>DeYoung, Robert E.</td>
      <td>0.025</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Davis, Lance E.</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Lamoreaux, Naomi R.</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Rosenthal, Jean Laurent</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Senbet, Lemma W.</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Sorge, Marco</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Xu, Lixincolin</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Hong, Harrison</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Kubik, Jeffrey D.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Santos, João A.C.</td>
      <td>0.011</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Claessens, Stijn</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Majnoni, Giovanni</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Djankov, Simeon</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Aggarwal, Reena</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Jindra, Jan A.N.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Wysocki, Peter D.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Fisman, Raymond J.</td>
      <td>0.009</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Diamond, Douglas W.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Wulf, Julie</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Faulkender, Michael</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Mody, Ashoka</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Dell'Ariccia, Giovanni</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Hardy, Daniel C.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Xiong, Wei</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Scheinkman, José A.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Huang, Ming</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Rumble, Adrienne S.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Marquez, Robert</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Wang, Rong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Eichengreen, Barry J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Kletzer, Kenneth M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Cottarelli, Carlo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Schnabel, Isabel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Vladkova-Hollar, Ivanna</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Zettelmeyer, Jeromin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Peng, Lin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Stiroh, Kevin J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Hauswald, Robert</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>