<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Saunders, Anthony</td>
      <td>0.568</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Gande, Amar</td>
      <td>0.403</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Puri, Manju</td>
      <td>0.403</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Berger, Allen N.</td>
      <td>0.297</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Walter*, Ingo</td>
      <td>0.252</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Udell, Gregory F.</td>
      <td>0.251</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Scalise, Joseph M.</td>
      <td>0.205</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Angbazo, Lazarus A.</td>
      <td>0.128</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Mei, Jianping P.</td>
      <td>0.128</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Altman, Edward I.</td>
      <td>0.114</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Wilson, Berry K.</td>
      <td>0.108</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Mester, Loretta J.</td>
      <td>0.102</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Strahan, Philip E.</td>
      <td>0.090</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Demsetz, Rebecca S.</td>
      <td>0.087</td>
    </tr>
    <tr>
      <td>15</td>
      <td>DeYoung, Robert E.</td>
      <td>0.064</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Berlin, Mitchell</td>
      <td>0.056</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Hughes, Joseph P.</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Lang, William W.</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Moon, Choongeol</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Aggarwal, Reena</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Eberhart, Allan C.</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Goldberg, Lawrence G.</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Kane, Edward J.</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>24</td>
      <td>White, Lawrence J.</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Weston, James P.</td>
      <td>0.016</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Hasan, Iftekhar</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Gray, Ian</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Singer, Hal J.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Angel, James J.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Okunev, John</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Gosnell, Thomas F.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Chiang, Raymond C.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Davidson, Ian R.</td>
      <td>0.001</td>
    </tr>
  </tbody>
</table>