<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Stein, Jeremy C.</td>
      <td>0.594</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Hong, Harrison</td>
      <td>0.563</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Chen, Joseph</td>
      <td>0.477</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Kashyap, Anil K.</td>
      <td>0.190</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Rajan, Raghuram G.</td>
      <td>0.168</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Kubik, Jeffrey D.</td>
      <td>0.111</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Ang, Andrew</td>
      <td>0.099</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Mojon, Benôıt</td>
      <td>0.070</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Angeloni, Ignazio</td>
      <td>0.064</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Terlizzese, Daniele</td>
      <td>0.064</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Petersen, Mitchell A.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Zingales, Luigi</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Bekaert, Geert</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Smets, Frank Rafael</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Vermeulen, Philip</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Harvey, Campbell R.</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Lumsdaine, Robin L.</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Hodrick, Robert J.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Graham, John R.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Zhang, Xiaoyan</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Lemmon, Michael L.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Michaely, Roni</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Wolf, Jack G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Roberts, Michael R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Rogers, Daniel A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Linck, James S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Rees, Lynn L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Hertzel, Michael G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Llorente, Guillermo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Saar, Gideon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Wang, Jiang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Griffin, John M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>33</td>
      <td>O'Hara, Maureen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Ellis, Katrina</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Bates, Thomas W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Bessembinder, Hendrik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Lins, Karl V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Grullon, Gustavo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Brickley, James A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Smith, Clifford W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Harris, Jeffrey H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Martin, J. Spencer</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Stulz, René M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Topaloglu, Selim</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Ji, Xiuqing</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Easley, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Hvidkjaer, Soeren</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Zimmerman, Jerold L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Macey, Jonathan R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Wang, F. Albert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Keehong Bae, Kee</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Collin-Dufresne, Pierre</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Goldstein, Robert S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Karolyi, G. Andrew</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Christie, William Gary</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Corwin, Shane A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>55</td>
      <td>De Fontnouvelle, Patrick</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Fishe, Raymond P.H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Walkling, Ralph A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Schlingemann, Frederik P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Kang, Jun Koo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>62</td>
      <td>Grundy, Bruce D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Kim, Jinmo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Lim, Chanwoo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>66</td>
      <td>Pinkowitz, Lee</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>