<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Liu, Jun</td>
      <td>0.632</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Longstaff, Francis A.</td>
      <td>0.449</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Pan, Jun</td>
      <td>0.406</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Bekaert, Geert</td>
      <td>0.262</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Ang, Andrew</td>
      <td>0.245</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Wang, Tan</td>
      <td>0.185</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Kahl, Matthias</td>
      <td>0.173</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Mithal, Sanjay</td>
      <td>0.086</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Neis, Eric</td>
      <td>0.086</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Wang, Ashley W.</td>
      <td>0.079</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Piazzesi, Monika</td>
      <td>0.072</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Harvey, Campbell R.</td>
      <td>0.066</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Lundblad, Christian T.</td>
      <td>0.056</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Cao, H. Henry</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Zhang, Harold H.</td>
      <td>0.041</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Uppal, Raman</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Brennan, Michael J.</td>
      <td>0.028</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Graham, John R.</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Michaely, Roni</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Brav, Alon</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Xia, Yihong</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Xu, Xinzhong</td>
      <td>0.016</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Strong, Norman C.</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Lins, Karl V.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Roper, Andrew H.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Dittmar, Robert F.</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Bansal, Ravi</td>
      <td>0.011</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Roberts, Michael R.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Dammon, Robert M.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Spatt, Chester S.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Yao, Rui</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Das, Sanjiv Ranjan</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Grullon, Gustavo</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Lang, Mark H.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Shackelford, Douglas A.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Shackleton, Mark B.</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Grinstein, Yaniv</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Pong, Shiuyan</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Taylor, Stephen J.</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Gompers, Paul A.</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Lehavy, Reuven</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Lemmon, Michael L.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Conrad, Jennifer S.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Ahn, Dong Hyun</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Yaron, Amir</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Weston, James P.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Lerner, Josh</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Leary, Mark T.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Kanatas, George</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Butler, Alexander W.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Kato, Hideaki Kiyoshi</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Schallheim, James S.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Scharfstein, David S.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Tsekrekos, Andrianos E.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Wojakowski, Rafał M.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Luo, Mi</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Hribar, Paul</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>58</td>
      <td>Cooper, Michael J.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Bizjak, John M.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Bettis, J. Carr</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Kaul, Gautam</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>62</td>
      <td>Wahal, Sunil</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Johnson, Kevin M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Bates, Thomas W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Jallath-Coria, Eduardo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Mukhopadhyay, Tridas</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>67</td>
      <td>Cooney, John W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Shane, Hilary</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Tsai, Alexander</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>70</td>
      <td>Schoar, Antoinette</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>71</td>
      <td>Stulz, René M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Moeller, Sara B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Schlingemann, Frederik P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>74</td>
      <td>Qi, Jianping</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>75</td>
      <td>Hameed, Allaudeen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>76</td>
      <td>Gulen, Huseyin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>77</td>
      <td>Gutierrez, Roberto C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>78</td>
      <td>Rau, P. Raghavendra</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>79</td>
      <td>Jackson, William E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>79</td>
      <td>Patterson, Gary A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>81</td>
      <td>Karolyi, G. Andrew</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>82</td>
      <td>Anderson, Ronald C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>83</td>
      <td>Lee, Peggy M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>84</td>
      <td>Keehong Bae, Kee</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>85</td>
      <td>Sias, Richard W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>86</td>
      <td>Doidge, Craig</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>87</td>
      <td>Van Ness, Bonnie F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>87</td>
      <td>Van Ness, Robert A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>89</td>
      <td>Choe, Hyuk</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>89</td>
      <td>Kho, Bongchan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>91</td>
      <td>Chan, Kalok</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>92</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>93</td>
      <td>Kaplan, Steven N.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>94</td>
      <td>Reeb, David M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>95</td>
      <td>Lau, Sieting</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>96</td>
      <td>Starks, Laura T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>97</td>
      <td>Mayhew, Stewart</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>98</td>
      <td>Chakravarty, Sugato</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>99</td>
      <td>Mansi, Sattar A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>100</td>
      <td>Ng, Angela</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>101</td>
      <td>Parrino, Robert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>102</td>
      <td>Bennett, James A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>103</td>
      <td>Strömberg, Per</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>104</td>
      <td>H. McInish, Thomas</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>105</td>
      <td>Hartzell, Jay C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>106</td>
      <td>Golec, Joseph H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>107</td>
      <td>Mihov, Vassil T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>108</td>
      <td>Li, Kai</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>109</td>
      <td>Jordan, James V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>110</td>
      <td>Malatesta, Paul H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Huson, Mark R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>112</td>
      <td>Chung, Kee H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>113</td>
      <td>Ofek, Eli</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>114</td>
      <td>Li, Mingsheng</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>115</td>
      <td>Yermack, David L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>116</td>
      <td>Denis, David J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>117</td>
      <td>Ducharme, Larry L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>117</td>
      <td>SEFCIK, STEPHAN E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>119</td>
      <td>Richardson, Matthew P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>120</td>
      <td>McCormick, D. Timothy</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>121</td>
      <td>Chuwonganant, Chairat</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>122</td>
      <td>Ding, David</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>123</td>
      <td>Charoenwong, Charlie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>124</td>
      <td>Whitelaw, Robert F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>125</td>
      <td>Cho, Seongyeon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>125</td>
      <td>Kim, Youngsoo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>127</td>
      <td>Ahn, Seoungpil</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>127</td>
      <td>Cliff, Michael T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>129</td>
      <td>Hendershott, Terrence</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>130</td>
      <td>Barclay, Michael J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>131</td>
      <td>Jones, Charles M.</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>