<table border="1" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Rank</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John, Kose</td>
      <td>0.361</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Goldstein, Itay</td>
      <td>0.353</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Bebchuk, Lucian A.</td>
      <td>0.327</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Cremers, K. J. Martijn</td>
      <td>0.321</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Brav, Alon</td>
      <td>0.319</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Nair, Vinay B.</td>
      <td>0.257</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Graham, John R.</td>
      <td>0.218</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Acharya, Viral V.</td>
      <td>0.212</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Hasan, Iftekhar</td>
      <td>0.197</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Ferreira, Miguel Ângelo</td>
      <td>0.194</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Brandt, Michael W.</td>
      <td>0.191</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Santa-Clara, Pedro</td>
      <td>0.165</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Harvey, Campbell R.</td>
      <td>0.148</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Berger, Allen N.</td>
      <td>0.144</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Saunders, Anthony</td>
      <td>0.132</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Carlin, Bruce I.</td>
      <td>0.121</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Landier, Augustin</td>
      <td>0.120</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Gervais, Simon</td>
      <td>0.116</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Viswanathan, Sridhar</td>
      <td>0.113</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Odean, Terrance</td>
      <td>0.111</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Giambona, Erasmo</td>
      <td>0.104</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Ivashina, Victoria</td>
      <td>0.103</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Campello, Murillo</td>
      <td>0.100</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Officer, Micah S.</td>
      <td>0.095</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Stulz, René M.</td>
      <td>0.094</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Scharfstein, David S.</td>
      <td>0.093</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Rocholl, Jörg</td>
      <td>0.090</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Cronqvist, Henrik</td>
      <td>0.084</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Bekaert, Geert</td>
      <td>0.084</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Miller, Darius P.</td>
      <td>0.083</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Siegel, Stephan</td>
      <td>0.082</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Fernandes, Nuno</td>
      <td>0.081</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Massa, Massimo</td>
      <td>0.078</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Liu, Yujane</td>
      <td>0.078</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Fahlenbrach, Rüdiger</td>
      <td>0.076</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Ozbas, Oguzhan</td>
      <td>0.075</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Nandy, Debarshi K.</td>
      <td>0.071</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Nyborg, Kjell G.</td>
      <td>0.068</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Lin, Chen</td>
      <td>0.066</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Thesmar, David J.</td>
      <td>0.065</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Steffen, Sascha</td>
      <td>0.063</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Johnson, Timothy C.</td>
      <td>0.062</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Edmans, Alex</td>
      <td>0.061</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Deuskar, Prachi</td>
      <td>0.059</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Jiang, Wei</td>
      <td>0.059</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Strebulaev, Ilya A.</td>
      <td>0.059</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Li, Kai</td>
      <td>0.056</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Grinstein, Yaniv</td>
      <td>0.056</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Kovner, Anna</td>
      <td>0.054</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Greenwood, Robin M.</td>
      <td>0.052</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Chhaochharia, Vidhi</td>
      <td>0.052</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Van Binsbergen, Jules H.</td>
      <td>0.052</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Chemmanur, Thomas J.</td>
      <td>0.051</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Bond, Philip</td>
      <td>0.051</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Zhang, Xiaoyan</td>
      <td>0.050</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Koijen, Ralph Sj</td>
      <td>0.049</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Frame, W. Scott</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>58</td>
      <td>Minton, Bernadette A.</td>
      <td>0.046</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Nanda, Vikram K.</td>
      <td>0.045</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Musto, David K.</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Zheng, Lu U.</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>62</td>
      <td>Laeven, Luc</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Karolyi, G. Andrew</td>
      <td>0.043</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Kandel, Eugene</td>
      <td>0.041</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Reed, Adam V.</td>
      <td>0.041</td>
    </tr>
    <tr>
      <td>66</td>
      <td>Metrick, Andrew</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>67</td>
      <td>Wachtel, Paul A.</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Ongena, Steven</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Shin, Hyun Song</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>70</td>
      <td>Gompers, Paul A.</td>
      <td>0.040</td>
    </tr>
    <tr>
      <td>71</td>
      <td>Li, Haitao</td>
      <td>0.039</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Ashcraft, Adam B.</td>
      <td>0.039</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Bartram, So¨hnke M.</td>
      <td>0.039</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Bhamra, Harjoat S.</td>
      <td>0.039</td>
    </tr>
    <tr>
      <td>75</td>
      <td>Lerner, Josh</td>
      <td>0.038</td>
    </tr>
    <tr>
      <td>76</td>
      <td>Manso, Gustavo</td>
      <td>0.037</td>
    </tr>
    <tr>
      <td>77</td>
      <td>Cerqueiro, Geraldo</td>
      <td>0.036</td>
    </tr>
    <tr>
      <td>78</td>
      <td>Uppal, Raman</td>
      <td>0.036</td>
    </tr>
    <tr>
      <td>79</td>
      <td>Morse, Adair</td>
      <td>0.036</td>
    </tr>
    <tr>
      <td>80</td>
      <td>Doidge, Craig</td>
      <td>0.036</td>
    </tr>
    <tr>
      <td>81</td>
      <td>Kumar, Alok</td>
      <td>0.036</td>
    </tr>
    <tr>
      <td>82</td>
      <td>Low, Angie</td>
      <td>0.035</td>
    </tr>
    <tr>
      <td>83</td>
      <td>Harford, Jarrad</td>
      <td>0.035</td>
    </tr>
    <tr>
      <td>84</td>
      <td>Haselmann, Rainer</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>85</td>
      <td>Lins, Karl V.</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>86</td>
      <td>Ioannidou, Vasso P.</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>87</td>
      <td>Seru, Amit</td>
      <td>0.034</td>
    </tr>
    <tr>
      <td>88</td>
      <td>Strömberg, Per</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>89</td>
      <td>Hu, Gang</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>90</td>
      <td>Johnson, Shane A.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>91</td>
      <td>Van Nieuwerburgh, Stijn G.</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>92</td>
      <td>Massoud, Nadia</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>93</td>
      <td>Hou, Kewei</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>94</td>
      <td>Ayyagari, Meghana</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>94</td>
      <td>Kevin Aretz, Kevin</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>94</td>
      <td>LIN, JI CHAI</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>97</td>
      <td>Klasa, Sandy</td>
      <td>0.033</td>
    </tr>
    <tr>
      <td>98</td>
      <td>Aggarwal, Reena</td>
      <td>0.032</td>
    </tr>
    <tr>
      <td>98</td>
      <td>Erel, Isil</td>
      <td>0.032</td>
    </tr>
    <tr>
      <td>100</td>
      <td>Afonso, Gara</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>101</td>
      <td>Zou, Hong</td>
      <td>0.031</td>
    </tr>
    <tr>
      <td>102</td>
      <td>Mclean, R. David</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>103</td>
      <td>Shackleton, Mark B.</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>104</td>
      <td>Vig, Vikrant</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>105</td>
      <td>Bao, Jack</td>
      <td>0.030</td>
    </tr>
    <tr>
      <td>106</td>
      <td>Pontiff, Jeffrey</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>107</td>
      <td>Irvine, Paul J.</td>
      <td>0.029</td>
    </tr>
    <tr>
      <td>108</td>
      <td>McAndrews, James J.</td>
      <td>0.028</td>
    </tr>
    <tr>
      <td>109</td>
      <td>Yasuda, Ayako</td>
      <td>0.027</td>
    </tr>
    <tr>
      <td>110</td>
      <td>Bharath, Sreedhar T.</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Kaplan, Steven N.</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>111</td>
      <td>Singh, Ajai K.</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>113</td>
      <td>Fang, Lily</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>114</td>
      <td>Peress, Joël</td>
      <td>0.026</td>
    </tr>
    <tr>
      <td>115</td>
      <td>Maxwell, William F.</td>
      <td>0.025</td>
    </tr>
    <tr>
      <td>116</td>
      <td>Zhu, Ning</td>
      <td>0.024</td>
    </tr>
    <tr>
      <td>117</td>
      <td>Hirshleifer, David</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>118</td>
      <td>Garlappi, Lorenzo</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>118</td>
      <td>Nagel, Stefan</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>120</td>
      <td>He, Shan</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>121</td>
      <td>Rauh, Joshua D.</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>122</td>
      <td>Almeida, Heitor V.</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>123</td>
      <td>Levine, Ross L.</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>123</td>
      <td>Wang, Jiang</td>
      <td>0.023</td>
    </tr>
    <tr>
      <td>125</td>
      <td>Sensoy, Berk A.</td>
      <td>0.022</td>
    </tr>
    <tr>
      <td>126</td>
      <td>Krishnan, Karthik</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>127</td>
      <td>Kahle, Kathleen M.</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>128</td>
      <td>Brown, Martin</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>129</td>
      <td>Bessembinder, Hendrik</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>130</td>
      <td>Gopalan, Radhakrishnan</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>131</td>
      <td>Seasholes, Mark S.</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>132</td>
      <td>Huang, Jennifer</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>132</td>
      <td>Maksimovic, Vojislav</td>
      <td>0.020</td>
    </tr>
    <tr>
      <td>134</td>
      <td>Peyer, Urs C.</td>
      <td>0.019</td>
    </tr>
    <tr>
      <td>135</td>
      <td>Sufi, Amir</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>136</td>
      <td>Ferreira, Daniel</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>137</td>
      <td>Zingales, Luigi</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>138</td>
      <td>Beber, Alessandro</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>138</td>
      <td>Beck, Thorsten</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>138</td>
      <td>Pasquariello, Paolo</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>141</td>
      <td>Bailey, Warren</td>
      <td>0.014</td>
    </tr>
    <tr>
      <td>142</td>
      <td>Degryse, Hans</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>142</td>
      <td>Singleton, Kenneth J.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>144</td>
      <td>Veronesi, Pietro</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>145</td>
      <td>Prabhala, Nagpurnanand R.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>146</td>
      <td>Martínez Pería, María Soledad</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>147</td>
      <td>Sundaresan, Suresh M.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Giannetti, Mariassunta</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Koetter, Michael</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Krishnan, C. N.V.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Nilsson, Mattias</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Sialm, Clemens</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Skoulakis, Georgios</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Subrahmanyam, Marti G.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Taylor, Stephen J.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>148</td>
      <td>Vega, Clara</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>157</td>
      <td>Jordan, Bradford D.</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>158</td>
      <td>Kim, E. Han</td>
      <td>0.013</td>
    </tr>
    <tr>
      <td>159</td>
      <td>Hackbarth, Dirk</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>160</td>
      <td>Bradley, Michael D.</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>160</td>
      <td>Chen, Qi</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>162</td>
      <td>Cheung, Yanleung</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>163</td>
      <td>Espinosa-Vega, Marco A.</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>163</td>
      <td>Miller, Nathan H.</td>
      <td>0.012</td>
    </tr>
    <tr>
      <td>165</td>
      <td>Matos, Pedro Verga</td>
      <td>0.011</td>
    </tr>
    <tr>
      <td>166</td>
      <td>Tchistyi, Alexei</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>167</td>
      <td>Liu, Mark H.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>168</td>
      <td>Lustig, Hanno N.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>169</td>
      <td>Buraschi, Andrea</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Bouwman, Christa H.S.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Jenter, Dirk</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Kadan, Ohad</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Lowry, Michelle</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Milbourn, Todd T.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Poghosyan, Tigran</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>170</td>
      <td>Wang, Zhenyu</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>177</td>
      <td>Bartolini, Leonardo</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>177</td>
      <td>Hilton, Spence</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>179</td>
      <td>Liu, Sheen X.</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>180</td>
      <td>He, Yan</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>181</td>
      <td>Piskorski, Tomasz</td>
      <td>0.010</td>
    </tr>
    <tr>
      <td>182</td>
      <td>Galvão, Antonio Fialho</td>
      <td>0.009</td>
    </tr>
    <tr>
      <td>183</td>
      <td>Malatesta, Paul H.</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>184</td>
      <td>Tufano, Peter</td>
      <td>0.008</td>
    </tr>
    <tr>
      <td>185</td>
      <td>Ang, Andrew</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>186</td>
      <td>Pollet, Joshua M.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>187</td>
      <td>Whited, Toni M.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>188</td>
      <td>Becker, Bo</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>189</td>
      <td>Fritz Foley, C.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Adrian, Tobias</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Amihud, Yakov</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Bris, Arturo</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Burkart, Mike</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>De Haas, Ralph T.A.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Demirgüç-Kunt, Asli</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Haushalter, David David</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Hoberg, Gerard</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Kočenda, Evžen</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Laibson, David I.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Lee, Dongwook</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Lin, Hai</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Lundblad, Christian T.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Michael, Firth A.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Nashikkar, Amrut</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Ouimet, Paige Parker</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Panayides, Marios A.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Ritchken, Peter H.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Roberts, Michael R.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Schaeck, Klaus</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Spalt, Oliver G.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Valkanov, Rossen</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Wongswan, Jon</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Yadav, Pradeep K.</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>190</td>
      <td>Yan, An</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>215</td>
      <td>Panayotov, George</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>216</td>
      <td>Dyck, Alexander</td>
      <td>0.007</td>
    </tr>
    <tr>
      <td>217</td>
      <td>Ma, Yue</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>218</td>
      <td>Huang, Jiekun</td>
      <td>0.006</td>
    </tr>
    <tr>
      <td>219</td>
      <td>Jiao, Yawen</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>220</td>
      <td>DeAngelo, Harry</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>220</td>
      <td>DeAngelo, Linda Elizabeth</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>222</td>
      <td>Skeie, David R.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>223</td>
      <td>Hodrick, Robert J.</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td>224</td>
      <td>Bodnaruk, Andriy</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>225</td>
      <td>Zhou, Mingming</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>226</td>
      <td>Yorulmazer, Tanju</td>
      <td>0.004</td>
    </tr>
    <tr>
      <td>227</td>
      <td>Xing, Yuhang</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>228</td>
      <td>Madan, Dilip B.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>229</td>
      <td>Comerton-Forde, Carole</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Andrade, Sandro C.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Axelson, Ulf</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Boehmer, Ekkehart</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Caplin, Andrew S.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Chaplinsky, Susan</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Chen, Li W.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Ebrahim, Muhammed Shahid</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Hanley, Kathleen Weiss</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Huang, Rocco</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Huberman, Gur</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Huizinga, Harry P.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Leary, Mark T.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Lel, Uǧur</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Leuz, Christian</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Moorman, Theodore C.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Nain, Amrita S.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Puri, Manju</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Pástor, Ľuboš</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Rajan, Raghuram G.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Rampini, Adriano A.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>SØrensen, Morten</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Van Hemert, Otto</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Van Lelyveld, Iman</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Warner, Jerold B.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Westerfield, Mark M.</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>230</td>
      <td>Yan, Hong</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>256</td>
      <td>Levy Yeyati, Eduardo</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>257</td>
      <td>Teoh, Siewhong Hong</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>258</td>
      <td>Bayar, Onur</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>258</td>
      <td>Wu, Qun</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Hendershott, Terrence</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Jones, Charles M.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Knyazeva, Anzhela</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Knyazeva, Diana</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Porchia, Paolo</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>260</td>
      <td>Trojani, Fabio</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>266</td>
      <td>De La Torre, Augusto</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>267</td>
      <td>Servaes, Henri</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>268</td>
      <td>Jarrow, Robert A.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>269</td>
      <td>Gale, Douglas M.</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>270</td>
      <td>Wang, Z. Jay</td>
      <td>0.002</td>
    </tr>
    <tr>
      <td>271</td>
      <td>Francis, Bill B.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>272</td>
      <td>Boucly, Quentin</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>272</td>
      <td>Foucault, Thierry</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>274</td>
      <td>Matsusaka, John G.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>275</td>
      <td>Lee, Yitsung</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>276</td>
      <td>Barber, Brad M.</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>277</td>
      <td>Lin, Ping</td>
      <td>0.001</td>
    </tr>
    <tr>
      <td>278</td>
      <td>Barth, James R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>278</td>
      <td>Song, Frank M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>280</td>
      <td>Simonov, Andrei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>281</td>
      <td>Choi, Sungho</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>281</td>
      <td>Waisman, Maya</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>283</td>
      <td>Duchin, Ran A.N.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>284</td>
      <td>Wu, Chunchi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>285</td>
      <td>Song, Keke</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>285</td>
      <td>Stover, Roger D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>287</td>
      <td>Martin, Antoine</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>288</td>
      <td>Penas, María Fabiana</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>289</td>
      <td>Lim, Sonya Seongyeon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>289</td>
      <td>Yu, Jeffjiewei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>291</td>
      <td>Bhansali, Vineer</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>292</td>
      <td>Schmukler, Sergio L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>293</td>
      <td>Khorana, Ajay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>294</td>
      <td>Sraer, David A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>294</td>
      <td>Van Horen, Neeltje</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>296</td>
      <td>Gagliardini, Patrick</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>296</td>
      <td>Nohel, Tom</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>296</td>
      <td>Stiglitz, Joseph E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>299</td>
      <td>Anderson, Bing</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>299</td>
      <td>Qi, Howard</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>299</td>
      <td>Tonetti, Christopher</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>299</td>
      <td>Xie, Yanalice</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>303</td>
      <td>Menkveld, Albert J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>303</td>
      <td>Moulton, Pamela C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>303</td>
      <td>Williamson, Rohan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Adams, Renée Birgit</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ali, Ashiq</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ameriks, John</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ammer, John</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Anderson, Ronald W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Asparouhova, Elena</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>At, Christian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Atanassov, Julian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Baele, Lieven</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Baker, Malcolm P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bakke, Tor Erik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bakshi, Gurdip S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Baliga, Sandeep</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Barnea, Amir</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Barrett, W. Brian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bates, Thomas W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bech, Morten L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Beer, Christian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bengtsson, Ola</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bergstresser, Daniel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Berndt, Antje</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bertrand, Marianne</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bhattacharyya, Sugato</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bindseil, Ulrich</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Black, Lamont K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bosch, Oliver</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Boulatov, Alex</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Boyson, Nicole M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Breedon, Francis</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Brisley, Neil</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Brophy, David J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Brown, Gregory W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bubna, Amit</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Bubák, Vít</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Cabolis, Christos</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Cai, Jun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Campbell, Tom Colin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Cao, Jerry</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Carline, Nicholas F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chakrabarty, Bidisha</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chalmers, John M.R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chari, Anusha</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chauvin, Kyle</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chen, Fan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chen, Gongmeng</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chen, Yehning</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Cherny, Alexander S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chiang, Yao-Min</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Chien, Yili</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Cho, Seonghoon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Choi, James J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Cohen, Alma</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Corwin, Shane A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dahiya, Sandeep</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dai, Qiang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dass, Nishant</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>DellaVigna, Stefano</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Demiguel, Victor</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Demyanyk, Yuliya S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dewenter, Kathryn L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dharmapala, Dhammika</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dittmann, Ingolf</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dittmar, Amy K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dorn, Daniel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dorobantu, Florin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Drucker, Steven</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Duan, Ying</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Dumas, Bernard</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Edwards, Amy K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Eisfeldt, Andrea L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ellingsen, Tore</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ellul, Andrew</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Engstrom, Eric</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ergungor, Ozgur Emre</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Erwin, Gayle R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Evans, Richard B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Fecht, Falko</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ferrell, Allen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Forbes, Kristin J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Freixas, Xavier</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Fuller, Kathleen P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Gabaix, Xavier</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Gagnon, Louis</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Gallmeyer, Michael F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Giesecke, Kay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Goldman, Eitan Moshe</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Goldstein, Michael A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Golec, Joseph H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Gorbenko, Alexander S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Gorovyy, Sergei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Guasoni, Paolo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Guttman, Ilan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Géczy, Christopher C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Güntay, Levent</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hail, Luzi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hameed, Allaudeen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Han, Bing</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Han, Xi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hanson, Samuel G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hatch, Brian C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hau, Harald</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>He, Jie (Jack)</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Heaton, James B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Heyman, Fredrik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hong, Yongmiao</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Houston, Joel F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hsu, Hungchia</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hurvich, Clifford M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Hussain, Sikandar</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Huszár, Zsuzsa R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Inghelbrecht, Koen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ishii, Joy</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ivković, Zoran</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jankowitsch, Rainer</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jappelli, Tullio</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jensen, Gerald R.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jiang, Danling</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jiang, Ping</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jiao, Jie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jinjarak, Yothin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Joslin, Scott</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Jotikasthira, Chotibhak</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kalcheva, Ivalina</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kang, Hyungcheol</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kang, Wenjin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kavajecz, Kenneth A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kelley, Eric K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kho, Bongchan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Knot, Klaas H.W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Korniotis, George M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Korteweg, Arthur</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Koskinen, Yrjö</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kotter, Jason</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kuehn, Lars Alexander</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Kurshev, Alexander</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Laufer, Steven</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Laux, Paul A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Le, Anh</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Leahy, John V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Lee, Samuel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Lei, Adam Y C</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Levkov, Alexey</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Lewellen, Jonathan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Lewellen, Katharina A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Linn, Scott C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Litov, Lubomir P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Liu, Ping</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Loh, Roger K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Longstaff, Francis A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Lu, Yao</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Madrian, Brigitte C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Madureira, Leonardo L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Marco Pagano, Marco</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Masschelein, Nancy</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Mathews, Richmond D.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Maug, Ernst</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Maurer, Maria Rueda</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Menzly, Lior</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Michaely, Roni</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Mitchell, Janet</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Moreno, Antonio</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Myers, Stewart C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Möllerström, Johanna</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Neeman, Zvika</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Newman, Andrew F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ng, David T.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Nijman, Theo E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Nini, Greg P.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Novy-Marx, Robert</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ortiz-Molina, Hernán</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Page, Jeremy K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Pak, Tamara</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Pan, Carrie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Pan, Jun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Panageas, Stavros</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Park, Kyungsuh</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Park, Sangyong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Patgiri, Rajdeep</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Persons, John C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Petajisto, Antti</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Peter, Marcel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Phillips, Gordon Michael</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Pistor, Katharina</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Plazzi, Alberto</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Pope, Peter F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Popov, Alexander</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Prescott, Edward Simpson</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Putniñš, Tālis J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Qi, Yuehua</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Qian, Yiming</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ramcharan, Rodney</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Raposo, Clara</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Ratnovski, Lev</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Rau, P. Raghavendra</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Reuter, Jonathan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Riddick, Leigh A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Roussanov, Nikolai</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Rutherford, Jessica</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sandås, Patrik</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Santos, Tano J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sautner, Zacharias</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Schaefer, Stephen M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Schoar, Antoinette</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Schor, Michael</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Schotter, Andrew</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Schwert, G. William</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Shanken, Jay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Shao, Pei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Shapira, Zur B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sherman, Ann Guenther</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Shumway, Tyler</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Smith, David C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>So, Jongil</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Song, Fenghua</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sonia Man Lai, Wong M.Sonia</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sorescu, Sorin M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Srinivasan, Anand</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Stahel, Christof W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Stambaugh, Robert F.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Stanley, Brooke W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Stein, Jeremy C.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Stoffman, Noah</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Stouraitis, Aris</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Strulovici, Bruno H.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Subramanian, Krishnamurthy V.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sun, Zheng</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sun, Zhiqiang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Sundaram, Rangarajan K.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Svaleryd, Helena</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Syverson, Chad</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Taci, Anita</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Tang, Dragon Yongjun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Taylor, Lucian A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Tesar, Linda L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Thomson, James B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Torous, Walter N.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Tynaev, Nurlanbek</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Van Achter, Mark</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Van Inwegen, Gregory B.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Veldkamp, Laura L.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Venezia, Itzhak</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Venkataraman, Kumar</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Verdelhan, Adrien</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Vermaelen, Theo J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Vlachos, Jonas</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Voget, Johannes</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Walcott, Nathan G.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wang, Fenghua</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wang, Junbo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wang, Rong</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wang, Shouyang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wang, Tan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wang, Yi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Warnock, Francis E.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Watanabe, Akiko</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wedow, Michael</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Weisbach, Michael S.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Weisbenner, Scott J.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Werker, Bas J.M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wiener, Zvi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wilson, Mungo</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wojakowski, Rafał M.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wolfe, Simon</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wolfenzon, Daniel</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wu, Guojun</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wu, Joannashuang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wulf, Julie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wurgler, Jeffrey</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Wuyts, Gunther</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Xie, Kangzhen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Xu, Danielle</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Xu, Liping</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Xu, Yuewu</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Xuan, Yuhai</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yang, Jie</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yang, Zaihui</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yerramilli, Vijay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yeung, Eric</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yeşin, Pınar</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yilmaz, Bilge</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yu, Peng</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Yu, Wen</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zach, Tzachi</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zebedee, Allan A.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zehnder, Christian</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zhang, Hanjiang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zhang, Lei</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zhang, Yuanyuan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zhao, Feng</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zheng, Huanhuan</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zhu, Haoxiang</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Zitzewitz, Eric W.</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Östberg, Per</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Čihák, Martin</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Şendeniz-Yüncü, İlkay</td>
      <td>0.000</td>
    </tr>
    <tr>
      <td>306</td>
      <td>Žikeš, Filip</td>
      <td>0.000</td>
    </tr>
  </tbody>
</table>