<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Rankings | www.Central-Places.net</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/places_style.css') }}">
  <script src="{{ url_for('static', filename='js/google.tracking.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style type="text/css">
    body{
    }
    .bs-example{
      margin: 20px;
    }
    select{
      width: 75%;
    }
  </style>
  
</head>

<body>
<div class="container">
  {% include 'navbar.html' %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h2>Ranking based on
          <span style="color: #ff44aa;">
          {% if ranking == 'papers' %}
          the number of papers</span> an author has written in our dataset
          {% elif ranking == 'thanks' %}
          the number of thanks</span> of an academic
          {% elif ranking == 'betweenness' %}
          betweenness centrality</span>
          {% elif ranking == 'eigenvector' %}
          eigenvector centrality</span>
          {% endif %}
          in
          {% if year == '2011' %}2009-2011{% elif year == '2008'%}2008-2006{% elif year == '2005'%}2005-2003{% elif year == '2002'%}2002-2000{% elif year == '1999'%}1999-1997{% endif %}
          in the
          {% if rtype == 'auth' %}
          co-author netowork
          {% else %}
          social network of informal collaboration
          {% endif %}
        </h2>
        <p>Below you find the ranking of academics according to how
          {% if ranking == 'papers' %}
          many papers they have authored in our dataset.
          {% elif ranking == 'thanks' %}
          often they are acknowledged in our data set.
          {% elif ranking == 'betweenness' %}
          betweenness central they are in the social network of 
            {% if rtype == 'auth' %}
            co-authorship.<br/>
            {% else %}
            intellectual collaboration.<br/>
            {% endif %}
          {% elif ranking == 'eigenvector' %}
          eigenvector central they are in the social network of 
            {% if rtype == 'auth' %}
            co-authorship.<br/>
            {% else %}
            intellectual collaboration.<br/>
            {% endif %}
          {% endif %}
          <br />
          {% if ranking == 'betweenness' %}
          Betweenness centrality of a researcher is the probability that she is part of shortest path between any two other researchers. Betweenness central individuals are vital for information flows since the connect different parts of the netowkr. For details see L. Freeman (1977): "A set of measures based on betweenness", <i>Sociometry</i> 40, pp. 35-41. We compute this centrality measure for the largest connected component only.<br/>
          {% elif ranking == 'eigenvector' %}
          Eigenvector centrality is the weighted sum of neighbors where the weights correspond to the neighbors' eigenvector centrality. It is a measure of influence in a network. It's very similar to Katz-Bonacich centrality, but without a parameter. For details see P. Bonacich (1986): "Power and Centrality: A Family of Measures", <i>American Journal of Sociology</i> 92(5), pp. 1170-1182. We compute this centrality measure for the largest connected component only.<br/>
          {% endif %}
          <br />
          We use data from full research articles published in The Journal of Finance, The Review of Financial Studies, the Journal of Financial Economics, the Journal of Financial Intermediation, the Journal of Money, Credit & Banking, and the Journal of Banking and Finance.
          </p>
        <p>It is important to note that our rankings do not measure scholarly excellence. They merely capture how financial economists collaborate.</p>
      </div>
    </div>

    <br/>
    <hr/>
    <br/>

    <div class="row">
      <div class="col-xs-12">
        <h3><center>Another ranking?</center></h3>
      </div>
      <form method="get" style="font-size: 18px;">
      <div class="col-xs-4">
        Year range <select class="year" name="year" required>
          <option value="" disabled selected>Select</option>
          <option value="2011">2011-2009</option>
          <option value="2008">2008-2006</option>
          <option value="2005">2005-2003</option>
          <option value="2002">2002-2000</option>
          <option value="1999">1999-1997</option>
        </select>
      </div>
      <div class="col-xs-4">
        Network type <select class="rtype" name="rtype" required>
          <option value="" disabled selected>Select</option>
          <option value="auth">co-author network</option>
          <option value="com">co-author network with informal collaboration</option> 
        </select>
      </div>
      <div class="col-xs-4">
        Ranking measure <select class="ranking" name="ranking" required>
          <option value="" disabled selected>Select</option>
          <option value="betweenness">betweenness centrality</option>
          <option value="eigenvector">eigenvector centrality</option>
          <option value="thanks">number of thanks</option>
          <option value="papers">number of articles</option>
        </select>
      </div>
      <br/>
      <br/>
      <center><input type="submit" value="Submit" /></center>
      </form>
    </div>
  </div>
  <script>  // Rule out specific combinations
  document.querySelector('.rtype').addEventListener('change', function () {
    document.querySelector('option[value="thanks"]').disabled = this.value === 'auth';
    document.querySelector('option[value="papers"]').disabled = this.value === 'com';
  });
  document.querySelector('.ranking').addEventListener('change', function () {
    document.querySelector('option[value="auth"]').disabled = this.value === 'thanks';
    document.querySelector('option[value="com"]').disabled = this.value === 'papers';
  });
  </script>

  <div class="bs-example">
    <table class="table table-hover">
      {% include 'rankings/' + rtype + '_' + year + '_' + ranking + '.html' %}
    </table>
  </div>

  {% include 'footer.html' %}

</div>
</body>

</html>
