<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Rankings | www.Central-Places.net</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/places_style.css') }}">
  <script src="{{ url_for('static', filename='js/google.tracking.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style type="text/css">
    tab {
      margin: 20px;
    }
    select {
      width: 75%;
    }
  </style>
  
</head>

<body>
<div class="container">
  {% include 'navbar.html' %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h2>Ranking based on
          <span style="color: #ff44aa;">
          {% if ranking == 'thanks' %}
          the number of thanks</span> of a researcher received
          {% elif ranking == 'betweenness' %}
          betweenness centrality</span>
          {% elif ranking == 'eigenvector' %}
          eigenvector centrality</span>
          {% endif %}
          in
          {% if year=='2011' %}
          2009-2011
          {% elif year=='2010' %}
          2008-2010
          {% elif year=='2009' %}
          2007-2009
          {% elif year=='2008' %}
          2006-2008
          {% elif year=='2007' %}
          2005-2007
          {% elif year=='2006' %}
          2006-2006
          {% elif year=='2005' %}
          2003-2005
          {% elif year=='2002' %}
          2002-2004
          {% elif year=='2003' %}
          2001-2003
          {% elif year=='2002' %}
          2000-2002
          {% elif year=='2001' %}
          1999-2001
          {% elif year=='2000' %}
          1998-2000
          {% elif year=='1999' %}
          1997-1999
          {% endif %}
          in the network of informal collaboration
        </h2>
        <p>Below you find the ranking of academics according to
          {% if ranking == 'thanks' %}
          how often they are acknowledged in our data set.
          {% elif ranking == 'betweenness' %}
          betweenness central they are in the social network of informal collaboration.<br/>
          {% elif ranking == 'eigenvector' %}
          eigenvector central they are in the social network of informal collaboration.<br/>
          {% endif %}
          <br />
          {% if ranking == 'betweenness' %}
          Betweenness centrality of a researcher is the probability that she is part of shortest path between any two other researchers. Betweenness central individuals are vital for information flows since the connect different parts of the network. For details see L. Freeman (1977): "A set of measures based on betweenness", <i>Sociometry</i> 40, pp. 35-41. We compute this centrality measure for the largest connected component only.<br/>
          {% elif ranking == 'eigenvector' %}
          Eigenvector centrality is the weighted sum of neighbors where the weights correspond to the neighbors' eigenvector centrality. It is a measure of influence in a network. It's very similar to Katz-Bonacich centrality, but without a parameter. For details see P. Bonacich (1986): "Power and Centrality: A Family of Measures", <i>American Journal of Sociology</i> 92(5), pp. 1170-1182. We compute this centrality measure for the largest connected component only.<br/>
          {% endif %}
          <br />
          We use data from full research articles published in The Journal of Finance, The Review of Financial Studies, the Journal of Financial Economics, the Journal of Financial Intermediation, the Journal of Money, Credit & Banking, and the Journal of Banking and Finance.
          </p>
        <p>It is important to note that our rankings do not measure scholarly excellence. They merely capture how financial economists collaborate.</p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <h3><center>Choose your ranking</center></h3>
      </div>
      <form method="get" style="font-size: 18px;">
      <div class="col-xs-4">
        Year range <select class="year" name="year" required>
          <option value="" disabled selected>Select</option>
          <option value="2011">2009-2011</option>
          <option value="2010">2008-2010</option>
          <option value="2009">2007-2009</option>
          <option value="2008">2006-2008</option>
          <option value="2007">2005-2007</option>
          <option value="2006">2004-2006</option>
          <option value="2005">2003-2005</option>
          <option value="2004">2002-2004</option>
          <option value="2003">2001-2003</option>
          <option value="2002">2000-2002</option>
          <option value="2001">1999-2001</option>
          <option value="2000">1998-2000</option>
          <option value="1999">1997-1999</option>
        </select>
      </div>
      <div class="col-xs-4">
        Ranking measure <select class="ranking" name="ranking" required>
          <option value="" disabled selected>Select</option>
          <option value="betweenness">betweenness centrality</option>
          <option value="eigenvector">eigenvector centrality</option>
          <option value="thanks">number of thanks</option>
        </select>
      </div>
      <br/>
      <br/>
      <center><input type="submit" value="Submit" /></center>
      </form>
    </div>
  </div>

  <div class="tab">
    <table class="table table-hover">
      {% include 'rankings/' + year + '_' + ranking + '.html' %}
    </table>
  </div>

  {% include 'footer.html' %}

</div>
</body>

</html>
