<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Networks (Ring view) | www.Central-Places.net</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/places_style.css') }}">
  <script src="{{ url_for('static', filename='js/google.tracking.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="http://www.d3plus.org/js/d3plus.min.js"></script>

  <style type="text/css">
  body{
  }
  .bs-example{
    margin: 20px;
  }
  </style>

  <style type="text/css">
    #mynetwork {
      width: 1000px;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>
</head>

<body>
<div class="container">
  {% include 'navbar.html' %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h3>The Social Network of Intellectual Collaboration {% if year=='2011' %}(2009-2011){% elif year=='2008'%}(2008-2006){% elif year=='2005'%}(2005-2003){% elif year=='2002'%}(2002-2000){% elif year=='1999'%}(1999-1997){% endif %}</h3>
        <p>We assume a weighted but undirected link between two researchers whenever one acknowledges the other on a published research paper. The weight corresponds to the inverse number of authors. Additionally, we assume an undirected link of weight 1 between every pair of authors. Weights are additive.<br/>
        <br/>
        We have used all acknowledgments from all published research articles published in six journals: The Journal of Finance, The Review of Financial Studies, the Journal of Financial Economics, the Journal of Financial Intermediation, the Journal of Money, Credit & Banking, and the Journal of Banking and Finance.<br />
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>Interactive Network in ring representation</h1>
      <p>The ring representation shows the first and second neighbors of the node in focus, as well as connections between first neighbors. For computational reasons, not more than 40 random primary connections are displayed. Nodes are color-coded according to how often they have been acknowledged. Visualization using d3plus.js.</p>
      <div id="ring_viz"></div>
      <script>
      d3.json("{{ url_for('static', filename='json/' + year + '-ring.json') }}", function(error, data) {

        if (error) throw error;

        // instantiate d3plus
        var visualization = d3plus.viz()
          .container("#ring_viz")
          .type("rings")

          // Nodes
          .data(data.nodes)
          .id("id")
          .text("label")
          .color("thanks")

          // Links
          .edges(data.links)
          .edges({
            "limit": 40
          })

          // Draw
          .focus("{{focus}}")
          .height(700)
          .width(1000)
          .draw()
      })
      </script>
    </div>
  </div>
  
  {% include 'footer.html' %}
  
</div>
</body>

</html>